{
    "extends": "eslint:recommended",
    "parserOptions": {
        "ecmaVersion": 8,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "env": {
        "es6": true,
        "node": true,
        "browser": true
    },
    "globals": {},
    "plugins": ["react"],
    "rules": {
        "semi": 2,
        "no-console": 0,
        "indent": ["error", 4],
        "quotes": ["error", "single"],
        "react/jsx-uses-vars": 2
    }
}
